.tt-__MSG_@@extension_id__ {
	position: absolute;
	background-color: #ffc;
	color: #333;
	padding: 8px;
	border: 1px solid #996;
	font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: bold;
	box-shadow: 0 0 5px #888;
}

.tt-__MSG_@@extension_id__ span {
	text-shadow: 1px 1px 1px #cc9;
}